@use './reset.scss';
/* 在全局样式文件中添加，如 index.css 或 main.scss */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* 阻止整个页面滚动 */
  height: 100%;
}

:root {
  --el-menu-hover-bg-color: #e0f7ff; // 你想要的颜色
}
