//全局样式

//左侧的菜单的宽度
$base-menu-width: 260px;

//左侧菜单的yanse
$base-menu-background: #ffffff;

//顶部导航的高度
$base-tabbar-height: 50px;

//左侧logo高度
$base-menu-logo-height: 60px;

//左侧logo文字大小
$base-logo-title-fontSize: 20px;

//子菜单hover时的颜色
$base-menu-bg-hover-color: #e8f4fa;

//头部颜色
$base-header-bg-color:#f6f9fc;
